<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="form-register.component.css">

    <body>
        <div class="container" id="container">
           
                <form>
                    <h1>Crear Cuenta</h1>
                    <span>Para terminar de crear tu cuenta llena los siguientes datos.</span>
                    <p>Nombre</p>
                    <input type="text">
                    <p>Apellido</p>
                    <input type="text">
                    <p>Edad</p>
                    <input type="text">
                    <p>Celular</p>
                    <input type="text">
                    <button type="submit">Crear Cuenta</button>
                    <button type="submit" routerLink="/login">Volver al login</button>
                </form>
            
            
    

        </div>


    </body>