.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente */
  font-size: 24px; /* Cambia el tamaño de la fuente */
  font-weight: 700; /* Cambia el grosor de la fuente */
  color: #333; /* Cambia el color de la fuente */
}

.form-inline {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.form-control {
  margin-right: 10px;
}

.btn {
  margin-left: 5px;
}

.content {
  margin-top: 70px;
}