.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
}
h1{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link {
  font-size: 1.1rem;
  color: #007bff;
  cursor: pointer;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.nav-link:hover {
  color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-profile {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 15px;
}

.btn-laburapp {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-laburapp:hover {
  background-color: #0056b3;
}

.btn-profile {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-profile:hover {
  background-color: #007bff;
  color: white;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}