<!-- carousel.component.html -->
<ngb-carousel *ngIf="categories && categories.length">
  <ng-template ngbSlide *ngFor="let category of categories; let i = index">
    <div class="picsum-img-wrapper" *ngIf="category.image" loading="lazy">
      <img [src]="category.image" [alt]="category.title">
    </div>
    <div class="carousel-caption">
      <h3>{{ category.title }}</h3>
      <a [routerLink]="['/services', category.id]" class="btn btn-primary">Ver Profesionales</a>
    </div>
  </ng-template>
</ngb-carousel>
