<body>
    <div class="container">
        
            <form >
                <h1>Informacion personal</h1>
                <span>Completa el siguiente formulario para terminar de configurar tu cuenta.</span>
                <p>Nombre</p>
                <input type="text" class="form-control" >
                
                <p>Apelldio</p>
                <input type="text"class="form-control" >
                
                <p>Fecha de nacimiento</p>
                <input type="date"class="form-control">
                
                <p>Numero de contacto</p>
                <input type="number"class="form-control" >

                <p>Provincia</p>
                <input type="text"class="form-control" >

                <p>Ciudad</p>
                <input type="text"class="form-control" >

                

                
                
                <button type="submit">Guardar</button>
            </form>
        
    </div>
</body>