<body>
    <div class="container">
        
            <form >
                <h1>Informacion personal</h1>
                <span>Completa el siguiente formulario para terminar de configurar tu cuenta.</span>
                <p>Nombre</p>
                <input type="text" class="form-control" >
                
                <p>Apelldio</p>
                <input type="text"class="form-control" >
                
                <p>Edad</p>
                <input type="number"class="form-control" >
                
                <p>Telefono</p>
                <input type="number"class="form-control" >
                
                <button type="submit">Guardar</button>
            </form>
        
    </div>
</body>