<body>
    <div class="container">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <h1>Información Personal</h1>
            <span>Completa el siguiente formulario para terminar de configurar tu cuenta.</span>

            <p>Nombre</p>
            <input type="text"  id="nombre" formControlName="nombre">
            <div *ngIf="formGroup.get('nombre')?.invalid && (formGroup.get('nombre')?.dirty || formGroup.get('nombre')?.touched)" class="text-danger">
                <div *ngIf="formGroup.get('nombre')?.errors?.['required']">El campo debe estar completo</div>
                <div *ngIf="formGroup.get('nombre')?.errors?.['soloLetras']">Solo se permiten letras en este campo</div>
            </div>

            <p>Apellido</p>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
            <div *ngIf="formGroup.get('apellido')?.invalid && (formGroup.get('apellido')?.dirty || formGroup.get('apellido')?.touched)" class="text-danger">
                <div *ngIf="formGroup.get('apellido')?.errors?.['required']">El campo debe estar completo</div>
                <div *ngIf="formGroup.get('apellido')?.errors?.['soloLetras']">Solo se permiten letras en este campo</div>
            </div>
 
            <p>Fecha de nacimiento</p>
            <input type="date" class="form-control" id="nacimiento" formControlName="nacimiento">
            <div *ngIf="formGroup.get('nacimiento')?.invalid && (formGroup.get('nacimiento')?.dirty || formGroup.get('nacimiento')?.touched)" class="text-danger">
                <div *ngIf="formGroup.get('nacimiento')?.errors?.['required']">El campo debe estar completo</div>
                <div *ngIf="formGroup.get('nacimiento')?.errors?.['mayorEdad'] ">Debes tener al menos 18 años</div>
            </div>
              
           


            <p>Número de contacto</p>
            <input type="text" class="form-control" id="contacto" formControlName="contacto">
            <div *ngIf="formGroup.get('contacto')?.invalid && (formGroup.get('contacto')?.dirty || formGroup.get('contacto')?.touched)" class="text-danger">
                <div *ngIf="formGroup.get('contacto')?.errors?.['required']">El campo debe estar completo</div>
                <div *ngIf="formGroup.get('contacto')?.errors?.['telefonoInvalido']">Debes ingresar un numero real</div>
            </div>

            <p>Ciudad</p>
            <input type="text" class="form-control" id="ciudad" formControlName="ciudad">
            <div *ngIf="formGroup.get('ciudad')?.invalid && (formGroup.get('ciudad')?.dirty || formGroup.get('ciudad')?.touched)" class="text-danger">
                <div *ngIf="formGroup.get('ciudad')?.errors?.['required']">El campo debe estar completo</div>
            </div>

          
            
            <button type="submit" class="btn btn-primary" [disabled]="isCompleting || formGroup.invalid">Guardar</button>

            
        </form>
    </div>
</body>
