<button class="btn btn-primary" (click)="toggleSidebar()" style="font-size: medium;">Mas opciones</button>
<div *ngIf="isSidebarVisible" class="sidebar d-flex flex-column p-3 bg-light" style="width: 1600px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a class="nav-link" routerLink="/search-professionals" style="font-size: x-large;">Buscar profesionales</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/contracts" style="font-size: x-large;">Consultar contrataciones</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/add-service" style="font-size: x-large;">Ofrecer servicio</a>
    </li>
    <li>
      <a class="nav-link" routerLink="/my-services" style="font-size: x-large;">Mis servicios</a>
    </li>
  </ul>
</div>
