ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #d0d0d0;
  }
  button.unavailable {
    background-color: #d3d3d3; /* Light gray background */
    color: #a9a9a9; /* Dark gray text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  }