<div class="sidebar">
  <h3>Filtra tu búsqueda</h3>
  
  <div class="form-group">
    <label for="nombre">Servicio</label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="filterCriteria.nombre" (input)="onFilterChange()" placeholder="Buscar servicio...">
  </div>
  
  <div class="form-group">
    <label for="localidad">Localidad</label>
    <input type="text" class="form-control" id="localidad" [(ngModel)]="filterCriteria.localidad" (input)="onFilterChange()" placeholder="Buscar localidad...">
  </div>

  <div class="form-group">
    <label for="categoria">Categoría</label>
    <input type="text" class="form-control" id="categoria" [(ngModel)]="filterCriteria.categoria" (input)="onFilterChange()" placeholder="Buscar categoría...">
  </div>

  <div class="form-group">
    <label for="subCategoria">Subcategoría</label>
    <input type="text" class="form-control" id="subCategoria" [(ngModel)]="filterCriteria.subCategoria" (input)="onFilterChange()" placeholder="Buscar subcategoría...">
  </div>
</div>
