.contract-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contract-card .card-title {
  color: blue;
}

.status-pending {
  border-left: 5px solid yellow;
}

.status-canceled {
  border-left: 5px solid red;
}

.status-accepted {
  border-left: 5px solid green;
}
