<app-header></app-header>
<div class="container mt-5">
  <!-- Foto de perfil y nombre de usuario -->
  <div class="profile-header d-flex align-items-center mb-4">
    <div >
      <div class="profile-frame" (click)="changeProfilePicture()">
        <img [src]="profileImageUrl" alt="Imagen de perfil" class="profile-image"/>
        
  
    </div>
    <span class="desc">click image to edit</span>
    <input type="file" #fileInput hidden (change)="onFileSelected($event)"/>
    </div>
    
  
  
  
    <div class="profile-info ms-4">
      <h2>{{user?.nombre}} {{user?.apellido}}</h2>
      <h5 class="text-muted">{{user?.email}}</h5>
      <button class="btn btn-primary btn-sm mt-2 text-decoration-none"        (click)="navigateToCompleteUser() ">Editar perfil</button>
      <button class="btn btn-primary btn-sm mt-2 text-decoration-none-danger" (click)="confirmDelete()          ">Borrar Perfil</button>
    </div>
    
  </div>

  <div class="profile-header d-flex align-items-center mb-4">

    <button class="btn btn-primary btn-sm mt-2 text-decoration-none" (click)="navigateTo('/add-service')">Ofrecer servicio</button>
  </div>  


  <div class="profile-info ms-2">
    <h2>Reseñas que te han hecho:</h2>
  </div>
  <div class="box">
    <div class="estrellas-promedio">
      <span>Tu calificacion promedio:  </span>
      <ng-container *ngFor="let estrella of [1, 2, 3, 4, 5]">
        <span [class.selected]="estrella <= calcularPromedioCalificacion()">★</span>
      </ng-container>
      <small> ({{ calcularPromedioCalificacion() }} de 5) de ({{user?.calificacion_promedio}}) </small>
    </div>
    <div class="profile-header d-flex align-items-center mb-4"></div> 

    <div *ngIf="resenias.length === 0">
      <p>No hay reseñas aún.</p>
    </div>

      <ul *ngIf="resenias.length > 0">
        <li *ngFor="let resenia of resenias">
            <div class="estrellas">
                <ng-container *ngFor="let estrella of [1, 2, 3, 4, 5]">
                  <span [class.selected]="estrella <= resenia.calificacion">★</span>
                </ng-container>
              </div>
            <p>{{ resenia.comentario }}</p>
            <small>{{ resenia.fecha | date }}</small>
            <div class="profile-header d-flex align-items-center mb-4"></div> 
        </li>
      </ul>
  </div>