 .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente */
  font-size: 45px; /* Cambia el tamaño de la fuente */
  font-weight: 700; /* Cambia el grosor de la fuente */
   color: #333; /* Cambia el color de la fuente */
}
.navbar a {
  font-size: 18px; /* Change to desired font size */
  color: #333; /* Ensure color is applied */
}

.navbar .navbar-brand, .navbar .navbar-brand a {
  font-size: 28px !important; /* Use !important if necessary */
}

.navbar .navbar-brand, .navbar .navbar-brand a {
  font-size: 18px !important; /* Use !important if necessary */
}
.form-inline {
  align-items: center;
  margin-left: auto;
}

.form-control {
  margin-right: 10px;
}

.btn {
  margin-left: 5px;
}

.content {
  margin-top: 70px;
} 
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 125%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.container-icon {
  width: auto;
  height: 60px;
  cursor: pointer; /* Add this to indicate it's clickable */
}

.icon-profile {
  width: 45px;
  height: 45px;
  pointer-events: auto; /* Ensure pointer events are enabled */
}
