
<body>
    <div class="container">
        <h3>Reseñas</h3>
        <ul>
        <li *ngFor="let resenia of resenias">
            <div class="estrellas">
                <!-- Muestra las estrellas según la calificación -->
                <ng-container *ngFor="let estrella of [1, 2, 3, 4, 5]">
                  <span [class.selected]="estrella <= resenia.calificacion">★</span>
                </ng-container>
              </div>
            <p>{{ resenia.comentario }}</p>
            <small>{{ resenia.fecha | date }}</small>
        </li>
        </ul>
    
        <h3>Agregar una Reseña</h3>
        <form (ngSubmit)="agregarResenia()">
        <p for="calificacion">Calificación:</p>
        <div class="estrellas">
            <ng-container *ngFor="let estrella of [1, 2, 3, 4, 5]">
              <span 
                (click)="seleccionarCalificacion(estrella)"
                [class.selected]="estrella <= nuevaResenia.calificacion">
                ★
              </span>
            </ng-container>
          </div>
        <p for="comentario">Comentario:</p>
        <textarea [(ngModel)]="nuevaResenia.comentario" name="comentario" required></textarea>
    
        <button type="submit" class="btn-primary">Enviar</button>
        </form>
    </div>
</body>