<!-- footer.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer class="footer bg-dark text-white">
  <div class="container">
    <div class="row">
      <!-- Sección de Contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-phone"></i> +54 11 1234-5678</li>
          <li><i class="fas fa-envelope"></i> contactoRtuempresa.com</li>
          <li><i class="fas fa-map-marker-alt"></i> Av. Siempre Viva 742, Buenos Aires, Argentina</li>
        </ul>
      </div>
      <!-- Sección de Redes Sociales -->
      <div class="col-md-4">
        <h5>Redes Sociales</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com" class="text-white"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="https://www.twitter.com" class="text-white"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com" class="text-white"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com" class="text-white"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
      <!-- Sección de Servicios -->
      <div class="col-md-4">
        <h5>Servicios</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Electricistas</a></li>
          <li><a href="#" class="text-white">Fontaneros</a></li>
          <li><a href="#" class="text-white">Carpinteros</a></li>
          <li><a href="#" class="text-white">Pintores</a></li>
          <li><a href="#" class="text-white">Cerrajeros</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
